@CHARSET "UTF-8";

div.ui-datepicker
{
    font-size:10px;
}

 div.background
{
 	background-image:url('http://www.fisioterapiavaldespartera.com/sites/all/themes/danland/images/fondo-content.jpg');
}
 div.backgroundCenter
{
 	background-image:url('http://www.fisioterapiavaldespartera.com/sites/all/themes/danland/images/fondo-content.jpg');
	width: 100%;
	height: auto;
 }
.center
{
		margin-left: 20%;
		margin-right: 40%;
		margin-top: 20%;
}

select 
{
	width: 150px;
}

input
{
	width: 150px;
}

.title
{
	text-shadow: 1px 10px 10px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=10);
	font-size:22px;
	text-align:left;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}

.finishTittle
{
	text-shadow: 1px 10px 10px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=10);
	font-size:22px;
	text-align:left;
	color :green;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}

.text
{
	font-weight:normal;
	color:#000000;
	background-color:#FFFFFF;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:12px;
	text-align:left;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	line-height:1;
}

.button 
{
   border-top: 1px solid #f7e797;
   background: #d6a965;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c793e), to(#d6a965));
   background: -webkit-linear-gradient(top, #9c793e, #d6a965);
   background: -moz-linear-gradient(top, #9c793e, #d6a965);
   background: -ms-linear-gradient(top, #9c793e, #d6a965);
   background: -o-linear-gradient(top, #9c793e, #d6a965);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.button:hover 
{
   border-top-color: #296678;
   background: #296678;
   color: #ccc;
}
.button:active 
{
   border-top-color: #9c793e;
   background: #9c793e;
}